.darkBackground {
    background-color: #011315;
}

#welcome-message {
    margin-top: 20%;
    text-align: center;
    color: white;
    position: absolute; 
    z-index: 1
}

#welcome-message button {
    background-color: purple;
    border-color: black;
}

.shadowed {
    text-shadow: 2px 2px black;
}

.carousel-item {
    background-color: #011315;
    background-position: center; 
    background-repeat: no-repeat;
    background-size: contain; 
    margin-top: 3%;
    height: 85vh;
}

.alert {
    text-align: center;
    font-size: 1.25em;
}